.parent {
  position: static;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.child {
  position: absolute;
  top: 0px;
  left: 0px;
}

.list {
  margin: 4px 4px;
  width: 300px;
  border: solid 2px #ccc;
  min-height: 60px;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  overflow: hidden;
}

.box {
  /* color: rgba(0, 0, 0, 0.87); */
  padding: 4px 4px;
  border-bottom: solid 1px #ccc;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: transparent;
  font-size: 10px;
}
